body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    text-align: center;
}

header {
    background-color: #ff6b81;
    padding: 20px;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
}
.content-section{
    margin-top: 100px;
}
.first-section{
    margin-top: 60px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.about-section {
    padding: 50px;
    background-color: #fff;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    
}

.about-section h2 {
    color: #ff6b81;
}

.about-section p, .about-section ul {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.about-section ul {
    padding-left: 20px;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 100px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

.footer-links li {
    display: inline;
    margin: 0 15px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}
